<div class="col-10 offset-1 about">
    <h1>About LIFE-TIPS</h1>
    
     <p>
    LIFE-TIPS was built by <a target="_blank" href="http://github.com/nevillealee">Neville</a>. A software engineer.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'bizNev.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Neville Lee</h2>
      <br />
      <p>
        Neville Lee is currently software engineer at Perception Robotics. In a past life he in the United States Navy having graduated A-school training at the top of his class.
      </p>
    </div>
  </div>
  <br class="clear" />
  
</div>

<br class="clear" />
<br />
<br />
<br />